#about p {
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.knowledge {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.knowledge li {
  background: var(--color-bg-items);
  border-radius: 4px;
  color: var(--color-link);
  text-transform: uppercase;
  padding: 3px 15px;
}

@media (max-width: 1200px) {
  #about p {
    font-size: 1rem;
  }
}
