.content {
  flex: 2;
  overflow-y: auto;
  padding: 0 90px;
}

.content h2 {
  position: relative;
}

.content h2:before {
  content: "";
  background-color: var(--color-subtitle);
  height: 2px;
  position: absolute;
  top: 45px;
  width: 70%;
}

.content > section {
  scroll-margin-top: 90px;
  margin-top: 90px;
}

@media (max-width: 1200px) {
  .content {
    padding-left: 20px;
  }
}

@media (max-width: 1000px) {
  .content {
    padding-left: 15px;
    padding-right: 45px;
  }
}

@media (max-width: 900px) {
  .content {
    padding: 0 60px;
  }
  .content section:first-child {
    margin-top: 0px;
  }
  .content section:not(first-child) {
    margin-top: 50px;
  }
  .content h2 {
    background-color: var(--color-bg);
    font-size: 1.3rem;
    position: sticky;
    padding: 20px 0;
    top: 0px;
    z-index: 2;
  }
  .content h2::before {
    background-color: var(--color-border-project);
    height: 1px;
    top: 68px;
    width: 100%;
  }
}