:root {
  --color-bg: #fbf7eb;
  --color-bg-items: #ebddb3;
  --color-name: #171717;
  --color-subtitle: #525252;
  --color-link: #525252;
  --color-text: #525252;
  --color-border-project: #adadab;
}

body {
  background: var(--color-bg);
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h1 {
  color: var(--color-name);
  font-size: 2rem;
}

h2 {
  color: var(--color-subtitle);
  font-size: 2rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h3 {
  color: var(--color-subtitle);
  font-size: 1.3rem;
}

h4 {
  color: var(--color-subtitle);
  font-size: 1.2rem;
  margin-bottom: 15px;
}


