.menu {
  flex: 1;
  flex-shrink: 0;
}

.menu a {
  color: var(--color-link);
  font-size: 1.2rem;
  left: 0;
  line-height: 2.4rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
}

.menu a::before {
  content: ">";
  opacity: 0;
  position: absolute;
  left: -20px;
  width: 15px;
}

.menu a:hover:not(.active),
.menu a.active {
  font-weight: bold;
  left: 20px;
  transition: all 0.3s;
}

.menu a:hover:not(.active)::before,
.menu a.active::before {
  opacity: 1;
  left: -20px;
}

.ativo {
  font-weight: bold;
  text-decoration: underline;
}

.social-links ul {
  display: flex;
  gap: 10px;
}

.social-links img {
  max-width: 40px;
}

.social-links img:hover {
  border-radius: 50%;
  background-color: var(--color-bg-items);
  transition: all 0.5s;
}
