.sidebar {
  display: grid;
  flex: 1;
  padding: 90px 20px 90px 90px;
}

@media (max-width: 1200px) {
  .sidebar {
    padding-right: 20px;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    padding-left: 45px;
    padding-right: 15px;
  }
}

@media (max-width: 900px) {
  .text h1 {
    font-size: 1.5rem;
  }
  .text h3 {
    font-size: 1rem;
  }
  .sidebar {
    padding: 20px 60px;
    text-align: right;
  }
  .sidebar .menu {
    display: none;
  }
  .sidebar .social-links {
    position: absolute;
  }
  .social-links img {
    max-width: 30px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    background-color: var(--color-bg-items);
  }
  .sidebar .social-links {
    justify-items: right;
    padding-top: 20px;
    position: relative;
  }
  .sidebar .social-links img:hover {
    background-color: var(--color-bg);
  }
}