:root {
  --color-bg: #fbf7eb;
  --color-name: #171717;
  --color-subtitle: #525252;
  --color-link: #525252;
}

body {
  background: var(--color-bg);
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  color: var(--color-name);
  font-size: 2rem;
}

h2 {
  color: var(--color-subtitle);
  font-size: 2rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h3 {
  color: var(--color-subtitle);
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: grid;
  padding: 90px;
}

.menu {
  flex: 1;
  flex-shrink: 0;
}

.menu a {
  color: var(--color-link);
  font-size: 1rem;
  left: 0;
  line-height: 2rem;
  position: relative;
  transition: all 0.3s;
}

.menu a::before {
  content: ">";
  opacity: 0;
  position: absolute;
  left: -20px;
  width: 15px;
}

.menu a:hover {
  font-weight: bold;
  left: 15px;
  transition: all 0.3s;
}

.menu a:hover::before {
  opacity: 1;
  left: -15px;
}

.social-links ul {
  display: flex;
  gap: 10px;
}

.social-links img {
  max-width: 40px;
}

.social-links img:hover {
  border-radius: 50%;
  background-color: #ccc1a0;
  transition: all 0.5s;
}

.content {
  flex: 2;
  overflow-y: auto;
  padding: 90px;
}
