:root {
  --color-bg: #fbf7eb;
  --color-bg-items: #ebddb3;
  --color-name: #171717;
  --color-subtitle: #525252;
  --color-link: #525252;
  --color-text: #525252;
  --color-border-project: #adadab;
}

body {
  background: var(--color-bg);
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--color-name);
  font-size: 2rem;
}

h2 {
  color: var(--color-subtitle);
  font-size: 2rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}

h3 {
  color: var(--color-subtitle);
  font-size: 1.3rem;
}

h4 {
  color: var(--color-subtitle);
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: grid;
  flex: 1;
  padding: 90px 50px 90px 90px;
}

.menu {
  flex: 1;
  flex-shrink: 0;
}

.menu a {
  color: var(--color-link);
  font-size: 1.2rem;
  left: 0;
  line-height: 2.4rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
}

.menu a::before {
  content: ">";
  opacity: 0;
  position: absolute;
  left: -20px;
  width: 15px;
}

.menu a:hover:not(.ativo) {
  font-weight: bold;
  left: 20px;
  transition: all 0.3s;
}

.menu a:hover:not(.ativo)::before {
  opacity: 1;
  left: -20px;
}

.ativo {
  font-weight: bold;
  text-decoration: underline;
}

.social-links ul {
  display: flex;
  gap: 10px;
}

.social-links img {
  max-width: 40px;
}

.social-links img:hover {
  border-radius: 50%;
  background-color: var(--color-bg-items);
  transition: all 0.5s;
}

.content {
  flex: 2;
  overflow-y: auto;
  padding: 0 90px;
}

.content h2 {
  position: relative;
}

.content h2:before {
  content: "";
  background-color: var(--color-subtitle);
  height: 2px;
  position: absolute;
  top: 45px;
  width: 70%;
}

.content > section {
  scroll-margin-top: 90px;
  margin-top: 90px;
}

#about p {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.knowledge {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.knowledge li {
  background: var(--color-bg-items);
  border-radius: 4px;
  color: var(--color-link);
  text-transform: uppercase;
  padding: 3px 15px;
}

.project {
  border: 1px dashed var(--color-border-project);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  padding: 15px 40px;
}

.project img {
  grid-column: 1 / 2;
}

.project ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project li {
  background-color: var(--color-bg-items);
  border-radius: 4px;
  color: var(--color-link);
  display: inline-block;
  padding: 5px 15px;
}

.project:hover {
  background: var(--color-bg-items);
  border: 1px solid transparent;
}

.project:hover li {
  background-color: var(--color-link);
  color: #fff;
}

.experience {
  border: 1px dashed var(--color-border-project);
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 35px 40px 15px 40px;
  position: relative;
}

.experience time {
  background: var(--color-bg-items);
  border-radius: 0 0 15px 0;
  color: var(--color-link);
  left: -1px;
  padding: 3px 20px;
  position: absolute;
  top: -1px;
}

.experience p {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.experience li {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 300;
  list-style: disc;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .sidebar {
    padding-right: 20px;
  }
  .content {
    padding-left: 20px;
  }
  #about p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    padding-left: 45px;
    padding-right: 15px;
  }
  .content {
    padding-left: 15px;
    padding-right: 45px;
  }
}

@media (max-width: 900px) {
  .container {
    display: grid;
  }
  .sidebar {
    padding: 20px 60px;
    text-align: right;
  }
  .sidebar .menu {
    display: none;
  }
  .sidebar .social-links {
    position: absolute;
  }
  .content {
    padding: 0 60px;
  }
  .content section:first-child {
    margin-top: 0px;
  }
  .content section:not(first-child) {
    margin-top: 50px;
  }
  .content h2 {
    background-color: var(--color-bg);
    font-size: 1.3rem;
    position: sticky;
    padding: 20px 0;
    top: 0px;
    z-index: 2;
  }
  .content h2::before {
    background-color: var(--color-border-project);
    height: 1px;
    top: 68px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    background-color: var(--color-bg-items);
  }
  .sidebar .social-links {
    justify-items: right;
    padding-top: 20px;
    position: relative;
  }
  .sidebar .social-links img:hover {
    background-color: var(--color-bg);
  }
  .project {
    gap:15px;
    grid-template-columns: 1fr;
  }
}
