/* style.css */
@import "./global.css";
@import "./sidebar.css";
@import "./menu.css";
@import "./content.css";
@import "./about.css";
@import "./projects.css";
@import "./experiences.css";
@import "./container.css";
